---
import BlogCard from '@/components/BlogCard.astro'
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllTags, getPostsByTag } from '@/lib/data-utils'
import { getLangFromUrl, useTranslations } from '@/i18n/utils'

export async function getStaticPaths() {
  const tagMap = await getAllTags('pt')
  const uniqueTags = Array.from(tagMap.keys())

  return Promise.all(
    uniqueTags.map(async (tag) => {
      const posts = await getPostsByTag(tag, 'pt')
      return {
        params: { id: tag },
        props: {
          tag,
          posts,
        },
      }
    }),
  )
}

const { tag, posts } = Astro.props
const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Layout class="max-w-3xl">
  <PageHead
    slot="head"
    title={`${t('tags.postsTagged')} "${tag}"`}
    description={`${t('tags.collection')} ${tag}.`}
    noindex
  />
  <Breadcrumbs
    items={[
      { href: '/pt/tags', label: t('tags.title'), icon: 'lucide:tags' },
      { label: tag, icon: 'lucide:tag' },
    ]}
  />

  <ul class="flex flex-col gap-y-4">
    {
      posts.map((post) => (
        <li>
          <BlogCard entry={post} />
        </li>
      ))
    }
  </ul>
</Layout>
